backports.entry-points-selectable==1.1.0
certifi==2021.10.8
charset-normalizer==2.0.7
Cython==0.29.19
distlib==0.3.3
docutils==0.17.1
filelock==3.3.1
greenlet==1.1.2
idna==3.3
Kivy==2.0.0
Kivy-Garden==0.1.4
kivymd==0.104.2
Pillow==8.4.0
platformdirs==2.4.0
Pygments==2.10.0
requests==2.26.0
six==1.16.0
SQLAlchemy==1.4.26
urllib3==1.26.7
virtualenv==20.8.1
